<html>
<body>
<div class="container" style='top: 70px; position: relative;'>
    <div class='row well blue'>


    <div class="postlist">
    	<div><h3>Scheduled Posts:</h3></div>
    	{% for post in posts %}
    	
       		<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{post.date_to_post}}
			    	<a class="badge pull-right" href="/edit/{{post.key.id()}}">Edit</a>
			    	<a class="badge pull-right" href="/delete/{{post.key.id()}}">Delete</a>
			    </h3>
			    
			  </div>
			  <div class="panel-body">
			    {{post.message}}
			  </div>
			</div>
    	{% else %}
    	
    	<div>
       	 	No post to show
       	 </div>
       	 {% endfor %}

    </div>

    <div class="postlist">
      <div><h3>Posted Message/s:</h3></div>
      {% for post in posted %}
      
          <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{post.date_to_post}}
            <a class="badge pull-right" href="/delete/{{post.key.id()}}">Delete</a>
          </h3>
          
        </div>
        <div class="panel-body">
          {{post.message}}
        </div>
      </div>
      {% else %}
      
      <div>
          No post to show
         </div>
         {% endfor %}

    </div>
    	


    


    	<!-- End of Content-->
        <div class="fb-like" data-href="https://developers.facebook.com/apps/693517617401481/dashboard/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>

</div>
<div class ="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    
    <button type="button" class="navbar-inverse btn btn-primary pull-right" style="margin-top:10px;">Team 10</button>
    <p class="navbar-text pull-right">RM SUMAYA & SHINEE CRISOSTOMO</p>
    </div>
    </div>
</body>
</html>