<html>
<head>
	<title>FB Post</title>
</head>

<body>
		 
              <center>
          <form>
                <textarea id="fb-message" style="width:1000px height:1000px;"> </textarea>
                <button id="btn-post" type="submit">Schedule post</button>
            </form>
    </center>

</body>

 <script src="/static/js/vendors/jquery.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/vendors/handlebars.js"></script>
    <script src="/static/js/app.js"></script>
</html>