<div class="container" style='top: 70px; position: relative; align:center;'>
    <div class="jumbotron" style="opacity: 0.9">

        <form role="form" id="post-form" action="/" method="post" class="col-md-8">
          <div class="form-group">
            <label for="exampleInputEmail1"><center><h3 style="font-family: Helvetica; color:white">Post Your Status:</h3></center> </label>
            <div class="fbpost">
              <textarea name="message" class="form-control" id="message" required placeholder="What's On Your Mind?"  style="resize:none; height: 100px; width:900px;"></textarea>
            </div>
            <input type="hidden" name="access_token" value="">
            <input type="hidden" name="fbID" value="">
            <div class="form-group">
                <div style ="position: center" class='input-group date' id='datetimepicker'>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" required></span>
                    </span>
                    <input type='text' class="form-control" name="date_to_post" placeholder="Set date and time"/>
                </div>
            </div>
          </div>
          <div class="button">
            <div id="post-now" type="submit" class="btn btn-default btn-facebook"><b style="color:white;">Post it Now</b></div>
               <button id="button" type="submit" class="btn btn-default btn-facebook"><b style="color:white;">Schedule your Post</b></button>
          </div>
        </form>
        <div class="fb-like" data-href="https://developers.facebook.com/apps/693517617401481/dashboard/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false">
            
        </div>
    </div>
        <br><br>
</div>
<div class ="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    
    <button type="button" class="navbar-inverse btn btn-primary pull-right" style="margin-top:10px;">Team 10</button>
    <p class="navbar-text pull-right">RM SUMAYA & SHINEE CRISOSTOMO</p>
    </div>
    </div>
</body>
</html>